{% extends "menu/customer.html.twig" %}

{% block title %}Mój plan{% endblock %}
{% block head %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              xmlns="http://www.w3.org/1999/html">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="bootstrap.min.css"/>

        <style>
            .card:hover
            {
                transform: scale(1.1);
                box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
                z-index: 3;
            }
            .card
            {
                z-index: 1;
                transition: 0.5s ease;
                cursor: pointer;
                display: grid;
                border-radius: 18px;
                margin: 15px;
                background: #371f1f;
                color: white;
            }
            .con:hover .overlay {
                opacity: 0.9;
            }

            .middle {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 60%;
                left: 35%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
            }

            .image {
                opacity: 1;
                display: block;
                width: 100%;
                height: auto;
                transition: .5s ease;
                backface-visibility: hidden;
            }

            .col:hover .image {
                opacity: 0.3;
            }

            .col:hover .middle {
                opacity: 1;
            }

            .text {
                background-color: #87523a;
                color: white;
                font-size: 16px;
                padding: 13px 32px;
            }

            td:hover {
                background-color: #f5f3ab;
            }

            table {
                margin-left: auto;
                margin-right: auto;
            }

            .more
            {
                display: none;
                -webkit-transition: height 20s;
                overflow: hidden;
            }
            .top
            {
                display: inline-block;
                width: 4em;
                height: 4em;
                border: 0.5em solid #b79545;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                margin-left: 37%;
                margin-top: 1%;
                margin-left: 0.60em;

            }
            .top:after
            {
                content: '';
                display: inline-block;
                margin-top: 1.1em;
                width: 1.4em;
                height: 1.4em;
                border-top: 0.5em solid #af9958;
                border-right: 0.5em solid #e5d18b;
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                text-align: center;
                justify-content: center;

            }

            a:hover .top
            {
                border: 0.5em solid #cfa057;
            }

            a:hover .top:after
            {
                border-top: 0.5em solid #eebd5e;
                border-right: 0.5em solid #ffe5a4;
            }

            .bottom {
                display: inline-block;
                width: 4em;
                height: 4em;
                border: 0.5em solid #aa9269;
                border-radius: 50%;
                margin-left: 0.60em;
                margin-top: 0px;
            }

            .bottom:after {
                content: '';
                display: inline-block;
                margin-top: 0.6em;
                width: 1.4em;
                height: 1.4em;
                border-top: 0.5em solid #af9958;
                border-right: 0.5em solid #e5d18b;
                -moz-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }

            a:hover .bottom
            {
                border: 0.5em solid #cfa057;
            }

            a:hover .bottom:after
            {
                border-top: 0.5em solid #eebd5e;
                border-right: 0.5em solid #ffe5a4;
            }

        </style>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
{#
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(document).ready(function ()
            {
                getCardId=function getId(id)
                {
                    data_przyjecia=$('.data_przyjecia'+id).val();
                    status=$('.status'+id).val();
                    if(document.getElementById("data_oddania"+id).value!=="" && status==="2" && document.getElementById("data_oddania"+id).value>=data_przyjecia)
                    {
                        $.ajax({
                            type: 'POST',
                            url: "{{ path('update_order') }}",
                            data: {
                                id: id,
                                status: $('.status'+id).val(),
                                data_oddania: document.getElementById("data_oddania"+id).value,
                            },
                            success: function (data) {
                                alert('Dane zostały poprawnie uaktualnione!');
                            }
                        });
                        //location.reload();
                        $('#errorModal').hide();
                        $('#success').html('Zamówienie zostało przyjęte. Dziękujemy :)');
                        /*$('#exampleModal').css('background', 'rgba(0, 0, 0 ,0.2)')*/
                        $('#MODAL').css('background', 'rgba(81,270, 8,0.5)')

                    }
                    else
                    {
                        $('#MODAL').css('background', 'rgba(200,25, 21,0.5)')
                        $('#successModal').hide();
                        /*$('#exampleModal').css('background', 'rgba( 0, 0, 0, 0)')//kolor za modalem*/
                        if($('.status'+id).val()==="1" )
                        {
                            $('#error3').html('Ustaw status na zrealizowane!');
                            /*$('#error3').css("color", "#f18573");*/
                            /*$('#status_id').css("border", "2px solid red");
                            $('#status_id').css("background", "#f18573");*/
                        }
                        if(document.getElementById("data_oddania"+id).value<data_przyjecia)
                        {
                            $('#error').html('Data oddania musi być późniejsza niż przyjęcia');
                            $('#error1').html('Data oddania musi być późniejsza niż przyjęcia!');
                            /*$('#error1').css("color", "#f18573");*/
                            /*document.getElementById("data_oddania"+id).style.background="#f18573";
                            document.getElementById("data_oddania"+id).style.border="2px solid red"*/
                        }

                    }
                    location.reload();

                }


            });

            function myFunction(shID) {
                let dots = document.getElementById(shID+"dots");
                let moreText = document.getElementById(shID+"more");
                let btnText = document.getElementById(shID+"myBtn");
                if (dots.style.display === "none") {
                    dots.style.display = "inline";
                    /*btnText.innerHTML = "Read more";*/
                    btnText.classList.add('bottom');
                    btnText.classList.remove('top');
                    moreText.style.display = "none";
                }
                else
                {
                    dots.style.display = "none";
                    /*btnText.innerHTML = "Read less";*/
                    btnText.classList.remove('bottom');
                    btnText.classList.add('top');
                    moreText.style.display = "inline";
                }
            }
        </script>
    {% endblock %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container" style="margin-left: auto; margin-right: auto;">
        {% if plan !=null %}
            <table style="text-align: center" class="table">
                <thead class="thead-dark">
                <tr style="background-color: #f5f5f5">
                    <th scope="col">Poniedziałek</th>
                    <th scope="col">Wtorek</th>
                    <th scope="col">Środa</th>
                    <th scope="col">Czwartek</th>
                    <th scope="col">Piątek</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tr class="bg-primary">
                <td class="h5">{{ plan[0].poniedzialek }}</td>
                <td class="h5">{{ plan[0].wtorek }}</td>
                <td class="h5">{{ plan[0].sroda }}</td>
                <td class="h5">{{ plan[0].czwartek }}</td>
                <td class="h5">{{ plan[0].piatek }}</td>
            </tr>
        </table>
    {% else %}
        <div>Pracownik nie ma jeszcze wprowadzonego planu</div>
    {% endif %}
    {% if zamowienia==null %}
        Pracownik nie ma żadnych zamówień w toku
    {% else %}
    <div class="container align-items-center">
        <br>
        <div class="row">

            {% for zamowienie in zamowienia %}
                {% if zamowienie.zamowienieIdZamowienia.status == 1  and zamowienie.pracownikIdPracownika.username==user %}
                    <div class="card-group ml-auto mr-auto mt-2 mb-2">
                        <div id="{{ zamowienie.zamowienieIdZamowienia.id }}" class="card" style="width: 18rem;">
                            <p class="card-text pl-2">ID:{{ zamowienie.zamowienieIdZamowienia.id }} </p>
                             <img class="card-img-top" style="width: 18rem; height: 12rem "
                                  src="/build/{{ zamowienie.zamowienieIdZamowienia.ofertaIdOferty.urlObrazka }}"
                                  alt="{{ zamowienie.zamowienieIdZamowienia.ofertaIdOferty }}">
                                <div class="card-body">
                                    <p class="card-text pl-2" style="font-family: Cambria; text-align: center" > {{ zamowienie.zamowienieIdZamowienia.ofertaIdOferty.nazwaOferty }}</p>
                                </div>
                                <b><p class="card-text pl-2">Dane ciasta</p></b>
                                <p class="card-text pl-2" >Cena: {{ zamowienie.zamowienieIdZamowienia.ofertaIdOferty.cenaZaKg * zamowienie.zamowienieIdZamowienia.waga }}zł</p>
                                <p class="card-text pl-2"  >Waga: {{ zamowienie.zamowienieIdZamowienia.waga }}kg</p>
                                <p class="card-text pl-2"  >Data przyjęcia: {{ zamowienie.zamowienieIdZamowienia.dataPrzyjecia.format('d-m-yy') }}</p>
                                <input type="hidden" value="{{ zamowienie.zamowienieIdZamowienia.dataPrzyjecia.format('yy-m-d') }}" class="data_przyjecia{{ zamowienie.zamowienieIdZamowienia.id }}">
                                {% if  zamowienie.zamowienieIdZamowienia.status == 2%}
                                    <p class="card-text pl-2" >Data oddania: {{ zamowienie.zamowienieIdZamowienia.dataOddania.format('d-m-yy') }}</p>
                                    <p class="card-text pl-2">Status: Zrealizowane</p>
                                {% else %}
                                    {#<div id="error1" class="pl-2"> </div>#}
                                    <p  class="card-text pl-2">Data oddania: <input class="data_oddania{{ zamowienie.zamowienieIdZamowienia.id }}" style="background: #fbe2b4" id="data_oddania{{ zamowienie.zamowienieIdZamowienia.id }}"  type="date"></p>
                                    {#<div id="error3" class="pl-2" style="color: white" ></div>#}
                                    <p class="card-text pl-2" >Status: <select id="status_id" class="status{{ zamowienie.zamowienieIdZamowienia.id }}" style="background: #fbe2b4" ><option value="1" >w realizacji</option><option value="2">zrealizowane</option></select></p>
                                    <button onclick="getCardId({{ zamowienie.zamowienieIdZamowienia.id }})" style="background: #fbe2b4; color: #8e7c67" data-toggle="modal" data-target="#exampleModal">Zapisz</button>
                                {% endif%}
                                <div class="card-title ml-auto mr-auto" ><img  src="/build/ozdoby.png" alt="ozdoba" width="250px"></div>
                                <span id="{{ zamowienie.zamowienieIdZamowienia.id }}dots"></span>
                                <span id="{{ zamowienie.zamowienieIdZamowienia.id }}more" class="more" >
                                    <b><p class="card-text pl-2">Dane zamawiającego: </p></b>
                                    <p class="card-text  pl-2">Nazwa zamawiającego: {{ zamowienie.zamowienieIdZamowienia.userIdUsera.name  }}  {{ zamowienie.zamowienieIdZamowienia.userIdUsera.surname  }} </p>
                                    <p class="card-text  pl-2">Email: {{ zamowienie.zamowienieIdZamowienia.userIdUsera.email  }}  </p>
                                    <p class="card-text  pl-2">Telefon: {{ zamowienie.zamowienieIdZamowienia.userIdUsera.tel  }}  </p>
                                </span>
                                <a href="javascript:void(0)" style="margin-right: auto; margin-left: auto"><button class="bottom" onclick="myFunction({{ zamowienie.zamowienieIdZamowienia.id }})" id="{{ zamowienie.zamowienieIdZamowienia.id }}myBtn" ></button></a>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" style="background: transparent" {#role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"#} >
            <div class="modal-dialog-centered" role="document" style="width: 50%; margin-right: auto; margin-left: auto;">
                <div class="modal-content" id="MODAL" style="backdrop-filter: blur(5px)">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: white">Informacja</h5>
                    </div>
                    <div class="modal-body" id="successModal">
                        <b><div id="success" class="pl-2" style="color: white" ></div></b>
                    </div>

                    <div class="modal-body" id="errorModal" >
                        <div id="error1" class="pl-2" style="color: white; font-size: 20px"> </div>
                        <div id="error3" class="pl-2" style="color: white; font-size: 20px" ></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" style="background: #4e53b4; border: none" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}