{% extends 'menu/customer.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/loader.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {{ parent() }}

    <style>
        .underLineData{

        }
    </style>

    <div class="container align-items-center">
        <div class="row">
            {% for zadanie in zadania %}
                {% if zadanie.status == 0 %}
                    <div class="card-group ml-auto mr-auto mt-2 mb-2">
                        <div id="{{ zadanie.id }}" class="card rounded-lg" style="width: 18rem;">
                            <img class="card-img-top mx-auto mt-3 mb-0" style="width: 16rem; height: 10rem;"
                                 src="/build/{{ zadanie.ofertaIdOferty.urlObrazka }}"
                                 alt="{{ zadanie.ofertaIdOferty }}">
                            <div class="card-body" style="margin-left: auto; margin-right: auto;">
                                <h4 class="card-title">{{ zadanie.ofertaIdOferty }}</h4>
                            </div>
                            <label class="card-text" style="padding-bottom: 0;">ID:</label>
                            <span style="border-bottom: solid gold; border-width: 1px; margin-left: 10px; margin-right: 10px; padding-left: 30px; font-size: 22px"> {{ zadanie.id }}</span>
                            <p class="card-text pl-2">Data przyjęcia: {{ zadanie.dataPrzyjecia.format('d-m-yy') }}</p>
                            <p class="card-text pb-2 pl-2">Masa: {{ zadanie.waga }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div style="position: fixed; bottom: 70px; right: 60px;">
            {#<a class="btn btn-primary btn-md float-lg-right mb-5 mr-n5" href="#">Przypisz sobie</a>#}
            {% if zadania|length == 0 %}
            {% else %}
                <button id="myBtn" class="btn btn-danger btn-lg">Przypisz do mnie</button>
            {% endif %}
        </div>
    </div>

    <div id="processModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog-centered" role="document" style="width: 30%; margin-right: auto; margin-left: auto;">
            <div id="modalContentAlert" class="modal-content" style="background: transparent; border: none">
                <div id="processingModal" class="modal-body">
                    <div class="loader"></div>
                </div>
                <div id="successModal" class="modal-body" style="backdrop-filter: blur(5px)">
                    <div class="display-3 text-white">Dodano</div>
                </div>
                <div id="errorModal" class="modal-body" style="backdrop-filter: blur(5px)">
                    <div class="display-3 text-white">Nie dodano</div>
                </div>
                <div id="acceptModal" class="modal-footer" style="backdrop-filter: blur(5px)">
                    <button id="acceptButton" type="button" class="btn btn-success">Akceptuj</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let test=[];
        let clickedCard=[];
        {% for zadanie in zadania %}
        {% if zadanie.status == 0 %}
            test.push({{ zadanie }});
        {% endif %}
        {% endfor %}
        /*document.getElementById("myBtn").addEventListener("click", function () {
            document.getElementById("arrayShow").innerHTML=test.toString();
        });*/

        let karty = document.getElementsByClassName("card");
        let getCardId = function () {
            let cardId = this.getAttribute("id");
            let cardIdIndex = clickedCard.indexOf(cardId);
            if (cardIdIndex !== -1){
                clickedCard.splice(cardIdIndex, 1);
                document.getElementById(cardId).style.backgroundColor="white";
            }
            else{
                clickedCard.push(cardId);
                document.getElementById(cardId).style.backgroundColor="aqua";
            }
            //zmiana koloru

            //zmiana koloru
            document.getElementById("clickedCards").innerHTML=clickedCard.toString();
        };
        Array.from(karty).forEach(function (karta){
            karta.addEventListener("click", getCardId);
        });


        $(document).ready(function(){
            $("#secBtn").click(function(){
                $("#ajaxResponse").text("ELo");
            });
        });

        $(document).ready(function (){
            $("#myBtn").click(function (){

                $('#successModal').hide() //ukrycie napisu pomyślnego przypisania w modalu
                $('#acceptModal').hide()  //ukrycie przycisku akceptuj w modalu
                $('#errorModal').hide() //ukrycie napisu o bledzie w modalu
                $('#processModal').toggle() //wlaczenie modalu

                $.ajax({
                    type: 'POST',
                    url: '{{ path('zadania') }}',
                    data:{
                        zadanka: clickedCard
                    },
                    complete: function(response){
                        $('#processingModal').hide() //ukrycie loadera
                        $('#acceptModal').show()    //pokazanie przycisku akceptuj w modalu
                    },
                    success: function (response){
                        $('#modalContentAlert').css('background', 'rgba(61,219,76,0.5)')
                        $('#successModal').show()   //pokazanie napisu pomyslnego przypisania modalu
                    },
                    error: function (response){
                        $('#modalContentAlert').css('background', 'rgba(219,25, 21,0.5)')
                        $('#errorModal').show()
                    }
                });
            });
        });

        $(document).ready(function (){
            $('#acceptButton').click(function (){
                location.reload()
            })
        });
    </script>
{% endblock %}