{% extends 'menu/customer.html.twig' %}
{% block head %}
    {% block stylesheets %}
        {{ parent() }}
        <style>
            .card:hover
            {
                transform: scale(1.1);
                box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
                z-index: 3;
            }
            .card
            {
                z-index: 1;
                transition: 0.5s ease;
                cursor: pointer;
                display: grid;
                border-radius: 18px;
                margin: 15px;
                background: #371f1f;
                color: white;
            }

            .image
            {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            .more
            {
                display: none;
                -webkit-transition: height 20s;
                overflow: hidden;
            }
            .top
            {
                display: inline-block;
                width: 4em;
                height: 4em;
                border: 0.5em solid #b79545;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                margin-left: 37%;
                margin-top: 1%;

            }
            .top:after
            {
                content: '';
                display: inline-block;
                margin-top: 1.1em;
                width: 1.4em;
                height: 1.4em;
                border-top: 0.5em solid #af9958;
                border-right: 0.5em solid #e5d18b;
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                text-align: center;
                justify-content: center;

            }

            a:hover .top
            {
                border: 0.5em solid #cfa057;
            }

            a:hover .top:after
            {
                border-top: 0.5em solid #eebd5e;
                border-right: 0.5em solid #ffe5a4;
            }

            .bottom {
                display: inline-block;
                width: 4em;
                height: 4em;
                border: 0.5em solid #aa9269;
                border-radius: 50%;
                margin-left: 0.75em;
                margin-left: 39%;
                margin-top: 1%;
            }

            .bottom:after {
                content: '';
                display: inline-block;
                margin-top: 0.6em;
                width: 1.4em;
                height: 1.4em;
                border-top: 0.5em solid #af9958;
                border-right: 0.5em solid #e5d18b;
                -moz-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }

            a:hover .bottom
            {
                border: 0.5em solid #cfa057;
            }

            a:hover .bottom:after
            {
                border-top: 0.5em solid #eebd5e;
                border-right: 0.5em solid #ffe5a4;
            }


        </style>
    {% endblock%}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="row">
    {% for zamowienie_pracownik in zamowienia_pracownika %}
        {% if zamowienie_pracownik.pracownikIdPracownika.email == user and zamowienie_pracownik.zamowienieIdZamowienia.status==2 %}
            <div class="card-group ml-auto mr-auto mt-2 mb-2" style=" border-radius: 18px;">
                <div id="{{ zamowienie_pracownik.zamowienieIdZamowienia.id }}" class="card" style="width: 18rem;">
                    {% if zamowienie_pracownik.zamowienieIdZamowienia.ofertaIdOferty.urlObrazka !=null %}
                        <div class="card-img-top">
                            <img class="image" style="width: 18rem; height: 12rem " src="/build/{{ zamowienie_pracownik.zamowienieIdZamowienia.ofertaIdOferty.urlObrazka }}" alt="{{ zamowienie_pracownik.zamowienieIdZamowienia.ofertaIdOferty.nazwaOferty }}">
                        </div>
                    {% endif%}
                    <div class="card-body " >
                        <div class="card-title pl-2" style="text-align: center; font-family: Cambria; color: goldenrod; font-weight: 1000;">{{ zamowienie_pracownik.zamowienieIdZamowienia.ofertaIdOferty.nazwaOferty }}</div>
                        <div class="card-text pl-2 dane" ><b>Dane ciasta:</b></div>
                        <div class="card-text pl-2 dane" >Cena: {{ zamowienie_pracownik.zamowienieIdZamowienia.ofertaIdOferty.cenaZaKg * zamowienie_pracownik.zamowienieIdZamowienia.waga }}zł</div>
                        <div class="card-text pl-2 dane" >Waga: {{ zamowienie_pracownik.zamowienieIdZamowienia.waga }}kg</div>
                        <div class="card-text pl-2 dane" > {{ zamowienie_pracownik.zamowienieIdZamowienia.dataPrzyjecia.format('d.m.yy') }} - {{ zamowienie_pracownik.zamowienieIdZamowienia.dataOddania.format('d.m.yy') }}</div>
                        <div class="card-title pl-2 " style="margin-right: auto; margin-left: auto"><img src="/build/ozdoby.png" alt="ozdoba" width="250px"></div>
                        <span id="{{ zamowienie_pracownik.zamowienieIdZamowienia.id }}dots"></span>

                        <span id="{{ zamowienie_pracownik.zamowienieIdZamowienia.id }}more" class="more">
                                <div class="card-text pl-2"><b>Dane klienta:</b></div>
                                <div class="card-text pl-2">{{ zamowienie_pracownik.zamowienieIdZamowienia.userIdUsera.name }} {{ zamowienie_pracownik.zamowienieIdZamowienia.userIdUsera.surname }}</div>
                                <div class="card-text pl-2">Email: {{ zamowienie_pracownik.zamowienieIdZamowienia.userIdUsera.email }}</div>
                                <div class="card-text pl-2">Telefon: {{ zamowienie_pracownik.zamowienieIdZamowienia.userIdUsera.tel }}</div>
                        </span>
                        <a href="javascript:void(0)" style="margin-right: auto; margin-left: auto"><button class="bottom" onclick="myFunction({{ zamowienie_pracownik.zamowienieIdZamowienia.id }})" id="{{ zamowienie_pracownik.zamowienieIdZamowienia.id }}myBtn"></button></a>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>

        function myFunction(shID) {
            let dots = document.getElementById(shID+"dots");
            let moreText = document.getElementById(shID+"more");
            let btnText = document.getElementById(shID+"myBtn");
            if (dots.style.display === "none") {
                dots.style.display = "inline";
                /*btnText.innerHTML = "Read more";*/
                btnText.classList.add('bottom');
                btnText.classList.remove('top');
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                /*btnText.innerHTML = "Read less";*/
                btnText.classList.remove('bottom');
                btnText.classList.add('top');
                moreText.style.display = "inline";
            }
        }
    </script>
{% endblock %}