
{% extends "menu/customer.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .form-signin
        {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
            margin-top: 50px;
            position: relative;
            background: rgb(63,251,246);
            background: #e5f4e4;
        }
        .register a
        {
            text-decoration: none;

        }
        .register
        {

            text-align: center;
            font-size: 13px;
            font-weight: bold;

        }
        html
        {
            background: rgb(63,251,246);
            background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(141,12,215,1) 100%);
        }
        body
        {
            background: rgb(63,251,246);
            background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(141,12,215,1) 100%);
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}

    <form method="post" class="form-signin">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Prosze zaloguj się</h1>
        <label for="inputEmail" class="sr-only" >Username</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="login" class="form-control mb-1" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="hasło" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}


        <button class="btn btn-lg btn-primary mt-1" style="width: 100%" type="submit">
            Zaloguj
        </button>
        <a class="btn btn-danger mt-1" style="width: 100%;" href="{{ path('app_forgot_password_request') }}">Zapomniałem hasła</a>
        <br>
        <label class="register">Jeśli nie masz konta </label>
        <a href="{{ path('user_registration') }}" class="register" style="color: gold">zarejestruj się</a>
    </form>


{% endblock %}
