{# templates/registration/register.html.twig #}{#

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}


<button type="submit">Register!</button>
{{ form_end(form) }}#}


{# templates/registration/register.html.twig #}
{% extends "menu/customer.html.twig" %}

    {% block title %}Welcome!{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>

            .error-message
            {
                color: red;
            }

            .form-signin
            {
                width: 100%;
                max-width: 400px;
                padding: 15px;
                margin: auto;
                margin-top: 50px;
                position: relative;
                background: rgb(63,251,246);
                background: #e5f4e4;
            }
            .register a
            {
                text-decoration: none;

            }
            .register
            {

                text-align: center;
                font-size: 13px;
                font-weight: bold;

            }
            html
            {
                background: rgb(63,251,246);
                background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(141,12,215,1) 100%);
            }
            body
            {
                background: rgb(63,251,246);
                background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(141,12,215,1) 100%);
            }
        </style>
    {% endblock %}


{% block body %}
    {{ parent() }}
    <div class="container" >
    <div class="form-signin" style="padding: 3%">
        <h2 style="text-align: center">Rejestracja</h2>
        {% if flag == 1 %}
            <div class="row alert alert-danger alert-dismissible fade show"><strong>Błąd</strong><div style="margin-left: 10px"> Taki email jest już w użyciu.</div>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {{ form_start(form) }}
        {% if form_errors(form.name)!='' %}
            <div class="row alert alert-danger alert-dismissible fade show"><strong>Błąd</strong><div style="margin-left: 10px"> Imię musi być z dużej litery.</div>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                {{ form_widget(form.name, {'attr': {'placeholder': "Imie", 'class': "form-control mb-1"}}) }}
            </div>
        </div>
        {% if form_errors(form.surname) !=''%}
            <div class="row alert alert-danger alert-dismissible fade show"><strong>Błąd</strong><div style="margin-left: 10px"> Nazwisko musi być z dużej litery.</div>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">

            <div class="col" id="some-custom-id" id="sur">
                {{ form_widget(form.surname, {'attr': {'placeholder': "Nazwisko", 'class': "form-control mb-1"}}) }}
            </div>
        </div>
        {% if form_errors(form.tel)!='' %}
            <div class="row alert alert-danger alert-dismissible fade show"><strong>Błąd </strong><div style="margin-left: 10px"> Telefon powinien zawierać 9 cyfr</div>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                {{ form_widget(form.tel, {'attr': { 'placeholder': "Telefon", 'class': "form-control mb-1"}})  }}
            </div>
        </div>
        {% if form_errors(form.email)!='' %}
            <div class="row alert alert-danger alert-dismissible fade show"><strong>Error!</strong> Nieprawidłowy email
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div class="col" id="some-custom-id">
                {{ form_widget(form.email, {'attr': { 'placeholder': "Email", 'class': "form-control mb-1"}})  }}
            </div>
        </div>
        {% if form_errors(form.password)!='' %}
            <div class="row alert alert-danger alert-dismissible fade show"><strong>Błąd</strong><div style="margin-left: 10px"> Hasło powinno mieć miń 8 znaków.</div>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                {{ form_widget(form.password, {'attr': {'placeholder': "Hasło", 'class': "form-control mb-1"}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_widget(form.miejscowosc, {'attr': {'placeholder': "Miejscowość", 'class': "form-control mb-1"}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_widget(form.ulica, {'attr': {'placeholder': "Ulica", 'class': "form-control mb-1"}}) }}
            </div>
        </div>

        <div class="row">

            <div class="col">
                {{ form_widget(form.kodPocztowy, {'attr': {'placeholder': "Kod pocztowy", 'class': "form-control mb-1"}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_widget(form.nrDomu, {'attr': {'placeholder': "Numer domu", 'class': "form-control mb-1"}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_widget(form.nrLokalu, {'attr': {'placeholder': "Numer lokalu", 'class': "form-control mb-1"}}) }}
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary mt-1" style="width: 100%">Zarejestruj się</button>
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>


    </script>
{% endblock %}

