{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .body{

        }
        .sendMailNote {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            width: 40%;
            margin-top: 10rem;
            padding-top: 2rem;
            padding-bottom: 1rem;
            padding-left: 3rem;
            padding-right: 3rem;
            //border-bottom-left-radius: 3rem;
            border-radius: 3rem;
            background: rgba(41,41,41,0.5);
            position: relative;
            backdrop-filter: blur(50px);
        }
        .contCenter{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            text-align: center;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container sendMailNote text-white">
        <p>Na podany adres e-mail wysłana została wiadomość zawierająca link do resetowania hasła, link wygasa w
            ciągu {{ tokenLifetime|date('g') }} godzin.</p>
        <div class="border-bottom w-100"></div>
        <p>Jeśli w skrzynce odbiorczej nie ma wiadomości z linkiem sprawdź folder SPAM lub wyślij link ponownie:</p>
        <a class="btn btn-primary" href="{{ path('app_forgot_password_request') }}">Wyślij link ponownie</a>
    </div>

    {#<div class="container sendMailNote" style="margin-top: 1rem">
        <a class="btn btn-success succesButton" href="{{ path('app_login') }}">Powrót na stronę logowania</a>
    </div>#}
    <div class="container contCenter">
        <a class="btn btn-lg btn-success" href="{{ path('app_login') }}">Powrót na stronę logowania</a>
    </div>

{% endblock %}
