<h1>Szanowni Państwo!</h1>

<p>
    W celu zresetowania swojego hasła, proszę wejdź:
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">tutaj</a>
    Link wygaśnie po {{ tokenLifetime|date('g') }} godzinch.
</p>

<p>
    Dziękujemy!
</p>