{% extends 'base.html.twig' %}

{% block title %}Przywracanie hasła{% endblock %}

{% block body %}
    <div class="form-signin">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1>Reset hasła</h1>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}

        <button class="btn btn-primary" style="margin-top: 1rem;">Wyślij link resetowania hasła na e-mail</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}