{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="form-signin">
        <h1>Resetuj hasło</h1>

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Resetuj</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
