.card:hover
{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    z-index: 3;
}
.card
{
    z-index: 1;
    transition: 0.5s ease;
    cursor: pointer;
    display: grid;
    border-radius: 18px;
    margin: 15px;
    background: #371f1f;
    color: white;
}
.con:hover .overlay {
    opacity: 0.9;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.col:hover .image {
    opacity: 0.3;
}

.col:hover .middle {
    opacity: 1;
}

.text {
    background-color: #87523a;
    color: white;
    font-size: 16px;
    padding: 13px 32px;
}

td:hover {
    background-color: #f5f3ab;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.more
{
    display: none;
    -webkit-transition: height 20s;
    overflow: hidden;
}
.top
{
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #b79545;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 37%;
    margin-top: 1%;
    margin-left: 0.60em;

}
.top:after
{
    content: '';
    display: inline-block;
    margin-top: 1.1em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #af9958;
    border-right: 0.5em solid #e5d18b;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: center;
    justify-content: center;

}

a:hover .top
{
    border: 0.5em solid #cfa057;
}

a:hover .top:after
{
    border-top: 0.5em solid #eebd5e;
    border-right: 0.5em solid #ffe5a4;
}

.bottom {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #aa9269;
    border-radius: 50%;
    margin-left: 0.60em;
    margin-top: 0px;
}

.bottom:after {
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #af9958;
    border-right: 0.5em solid #e5d18b;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

a:hover .bottom
{
    border: 0.5em solid #cfa057;
}

a:hover .bottom:after
{
    border-top: 0.5em solid #eebd5e;
    border-right: 0.5em solid #ffe5a4;
}
