{% extends "menu/customer.html.twig" %}
{% block head %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
{% block body %}
    {{ parent() }}
{#
    <div class="row" style="height: 250px"></div>
#}
    <div style="text-align: center; align-items: center; padding: 5%;  width: 50%; margin-right: auto; margin-left: auto">
{#
        {{ form(form) }}

#}
        <img  src="/build/{{ obrazek }}"  style="width: 18rem; height: 12rem; border-top-right-radius: 15px; border-top-left-radius: 15px; ">
        <table style="margin-right: auto; margin-left: auto; justify-content: center; background: #371f1f;color: white; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">
            {{ form_start(form) }}
            <tr>
                <td >
                    {{ form_label(form.children['oferta_id_oferty']) }}
                </td>
                <td>
                    {{ form_widget(form.children['oferta_id_oferty']) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.children['data_przyjecia']) }}
                </td>
                <td>
                    {{ form_widget(form.children['data_przyjecia']) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.children['waga']) }}
                </td>
                <td>
                    {{ form_widget(form.children['waga']) }}
                </td>
            </tr>
            <tr>
                <td>{{ form_widget(form.children['Edytuj']) }}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2"><img src="/build/ozdoby.png" alt="ozdoba" width="250px"></td>
            </tr>



        </table>

    </div>

{% endblock %}