{#{{ include('menu/customer.html.twig') }}#}
{% extends "menu/customer.html.twig" %}

{% block head %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .card:hover
            {
                transform: scale(1.1);
                box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
                z-index: 3;
            }
            .card
            {
                z-index: 1;
                transition: 0.5s ease;
                cursor: pointer;
                display: grid;
                border-radius: 18px;
                margin: 15px;
                background: #371f1f;
                color: white;

            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    {% endblock %}
{% endblock %}

{% block body %}
    {{ parent() }}
    {#{{ dump(zamowienia) }}#}
    <div class="container align-items-center" style="margin-left: auto; margin-right: auto">

        {#<div class="row">#}
            {% if zamowienia == [] %}
                <label>brak zamowień</label>
            {% else %}
            <div class="row">
                {% for zamowienie in zamowienia  %}
                    <div class="card-group ml-auto mr-auto mt-2 mb-2" style=" border-radius: 15px;">
                        <div class="card" style="width: 18rem;">
                            {% if zamowienie.ofertaIdOferty.urlObrazka!=null %}
                                <div class="card-img-top">
                                    <img  src="/build/{{ zamowienie.ofertaIdOferty.urlObrazka }}"  style="width: 18rem; height: 12rem; border-top-right-radius: 15px; border-top-left-radius: 15px; " alt="{{ zamowienie.ofertaIdOferty }}">
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <div class="card-title pl-2"  style="text-align: center; font-family: Cambria; color: goldenrod; font-weight: 1000;">{{ zamowienie.ofertaIdOferty.nazwaOferty }}</div>
                                {% if zamowienie.dataOddania == '' %}
                                    <div class="card-text pl-2" style=" font-size: 13px"><b>{{ zamowienie.dataPrzyjecia.format('Y.m.d') }}</b></div>
                                {% else %}
                                    <div class="card-text pl-2" style=" font-size: 13px"><b>{{ zamowienie.dataPrzyjecia.format('Y.m.d') }} - {{ zamowienie.dataPrzyjecia.format('Y.m.d') }}</b></div>
                                {% endif %}

                                <div class="card-text pl-2"><b>Cena:</b> {{ zamowienie.waga * zamowienie.ofertaIdOferty.cenaZaKg }}zł</div>
                                <div class="card-text pl-2"><b>Waga:</b> {{ zamowienie.waga }}kg</div>
                                {% if zamowienie.status=='0' %}
                                    <div class="card-text pl-2"><b>Status:</b> Przyjęte</div>
                                    <br>
                                    <a href="{{ path('moje_zamowienia_edytuj', {slug: zamowienie.id}) }}" style="float: left; color: #fbe2b4">Edytuj</a>
                                    <a href="{{ path('moje_zamowienia_usun', {slug: zamowienie.id}) }}" style="float: right; color: #fbe2b4">Usun</a>
                                {% endif %}
                                {% if zamowienie.status=='1' %}
                                    <div class="card-text pl-2"><b>Status:</b> W trakcie</div>
                                {% endif %}
                                {% if zamowienie.status=='2' %}
                                    <div class="card-text pl-2"><b>Status:</b> Zrealizowane</div>
                                {% endif %}
                                <div class="card-title pl-2 " style="margin-right: auto; margin-left: auto"><img src="/build/ozdoby.png" alt="ozdoba" width="250px"></div>
                            </div>
                        </div>
                    </div>

                {% endfor%}

            {% endif %}
        </div>
    </div>
</table>
{% endblock %}
