
{% extends "menu/customer.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .card:hover
        {
            transform: scale(1.1);
            box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
            z-index: 3;

        }

        .card
        {
            z-index: 1;
            transition: 0.5s ease;
            cursor: pointer;
            display: grid;
            border-radius: 18px;
            margin: 15px;
            background: #371f1f;
            color: white;
        }

        .con:hover .overlay {
            opacity: 0.9;
        }
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 60%;
            left: 35%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }
        .col:hover .image {
            opacity: 0.3;
        }

        .col:hover .middle {
            opacity: 1;
        }

        .text {
            background-color: #87523a;
            color: white;
            font-size: 16px;
            padding: 13px 32px;
        }



    </style>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

    <script>

    </script>
    {% endblock %}
{% endblock %}
{% block body %}
    {{ parent() }}
    {#{{ dump(oferta) }}#}

    <div class="container align-items-center" style="margin-left: auto; margin-right: auto; margin-top: -50px;">
        <div class="row">
            {% for ofert in oferta%}
                <div class="card-group ml-auto mr-auto mt-2 mb-2" style=" border-radius: 18px;">
                    <div class="card" style="width: 18rem">
                        {% if  ofert.urlObrazka !=null %}
                            <div class="card-img-top">
                                <img class="image" style="width: 18rem; height: 12rem; border-top-left-radius: 15px; border-top-right-radius: 15px " src="/build/{{ ofert.urlObrazka }}" alt="{{ ofert.urlObrazka }}">
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <div class="card-title pl-2" style="text-align: center; font-family: Cambria; color: goldenrod; font-weight: 1000;">{{ ofert.nazwaOferty }}</div>
                            <div class="card-text pl-2">{{ ofert.opisOferty|raw }}</div>{#dodanie raw powoduje generowanie surowego htmla#}
                            <div class="card-text pl-2"><b>Cena za kg:</b> {{ ofert.cenaZaKg }} </div>

                        {% if user!="anon." %}
                            {#<div class="middle">#}
                                <a href="{{ path('blog_post', {slug: ofert.id }) }}" style="color: #fb8d8d">Dodaj</a> {#przekazanie slug do OfertaController do metody show#}
                            {#</div>#}
                        {% endif%}
                        <div class="card-title pl-2" style="margin-right: auto; margin-left: auto"><img src="/build/ozdoby.png" alt="ozdoba" width="250px"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>






{% endblock %}
