
{% extends "menu/customer.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .karta
            {
                align-items: center;
                margin-right: auto;
                margin-left: auto;
                background: radial-gradient(circle, rgba(255,192,203 ,1 ) 0%, rgba(141,12,215,1) 100%);
                text-align: center;
                width: 30%;
                min-width: 300px;
                border-radius: 2%;
                padding: 2% 0%;
                transform: scale(1.1);
                transition: 1s ease;


            }

            .karta:hover
            {
                transform: scale(1.1);
                box-shadow: 5px 5px 15px rgba(0,0,0,0.9);

            }

            /*.napis
            {
                text-align: center;
                background: #90c6f1;
            }*/

            .foo
            {
                background: #ff91e8;
                padding: 1% 2%;
                margin: 2%;
                transition: 1s ease;
            }
            .foo:hover
            {
                transform: scale(1.03);
                /*box-shadow: 5px 5px 15px rgba(0,0,0,0.9);*/
            }

            .card:hover
            {
                transform: scale(1.1);
                box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
                z-index: 3;
            }
            .card
            {
                z-index: 1;
                transition: 0.5s ease;
                cursor: pointer;
                display: grid;
                border-radius: 15px;
                margin: 15px;
                background: #371f1f;
                color: white;
            }
            .con:hover .overlay {
                opacity: 0.9;
            }
            .middle {
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 60%;
                left: 35%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
            }
            .napis
            {
                border: none;
                border-bottom: 1px solid #f1a6de;
                background: transparent;
                text-align: center;
                outline: none;
            }

            .image {
                opacity: 1;
                display: block;
                height: auto;
                transition: .5s ease;
                backface-visibility: hidden;

            }
            .col:hover .image {
                opacity: 0.3;
            }

            .col:hover .middle {
                opacity: 1;
            }

            .text {
                background-color: #87523a;
                color: white;
                font-size: 16px;
                padding: 13px 32px;
            }


        </style>
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}
{% block body %}
    {{ parent() }}
<div class="karta" style="align-items: center; margin-right: auto; margin-left: auto; background: radial-gradient(circle, rgba(255,192,203 ,1 ) 0%, rgba(141,12,215,1) 100%); text-align: center; width: 30%;min-width: 300px; border-radius: 2%; padding: 2% 0%" >

    {% for oferta in oferty%}
        <div >
        {% if oferta.id ==  slug    %}
            <img src="/build/{{ oferta.getUrlObrazka() }}"   style="height: 250px; width: 250px ; margin-right: auto; margin-left: auto" class="image">
        {% endif %}
                <div style="text-align: center; font-family: Cambria; color: #b336f1; font-weight: 1000; font-size: 20px">{{ oferta.nazwaOferty }}</div>
                {{ form_start(form) }}
                <table style="margin-left: auto; margin-right: auto">

                    <tr>
                        <td >
                            Cena za kilogram
                        </td>
                        <td>
                            {{ oferta.cenaZaKg }}zł
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.children['waga']) }}
                        </td>
                        <td class="input_waga">
                            {{ form_widget(form.children['waga'], {'attr': {'class': 'napis', 'size' : '8'}}) }}
                        </td>

                    </tr>

                </table>
                {%  if form_label(form.children['waga'])<0 %}
                    <b style=" color: red">Waga musi być liczbą dodatnią </b>
                {% elseif form_errors(form.children['waga']) !=null %}
                    <b style="color: red">Waga musi być liczbą nieujemną!!!</b><br>
                {% endif %}

                <div>{{ form_widget(form.children['Dodaj'], {'attr': {'class': 'foo'}}) }}</div>

                {{ form_end(form) }}
            </div>

    {% endfor %}
</div>
{% endblock %}