{% extends 'menu/customer.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/loader.css') }}" rel="stylesheet"/>
    <style>

        .pola
        {
            background: transparent;
            border: none;
            border-bottom: 2px solid #c8b5bc;
            width: 100%;
            text-align:left;
            outline: none; /*usuniecie focusa na inpucie*/
        }
        .label
        {
            text-align: left;
            color: #c8b5bc;
            font-family: Cambria;
        }
        #wyslij
        {
            width: 50%;
            background: radial-gradient(circle, rgba(141,12,200,1) 0%, rgba(33,150,246,1) 100%);
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    {% block javascripts %}

{#
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(document).ready(function (){

                buttonClicked=function clicked()
                {
                    /*alert(document.getElementById('tytul').value);*/
                    if(document.getElementById("email").value!=="" && document.getElementById("tytul").value!=="" && document.getElementById("wiadomosc").value!=="")
                    {
                        $.ajax({
                            type: 'POST',
                            url: "{{ path('get_content') }}",
                            data: {
                                email: document.getElementById('email').value,
                                tytul: document.getElementById('tytul').value,
                                wiadomosc: document.getElementById('wiadomosc').value,
                            },
                            success: function (data) {
                                $('#loader').hide();
                                document.getElementById('text').innerText='Wiadomość została wysłana';
                                $('#modalContentAlert').css('background', 'rgba(61,219,76,0.5)')
                            },
                        });
                    }
                    else
                    {
                        $('#loader').hide();
                        $('#exampleModalLabel').hide();
                        document.getElementById('text').innerText='Błędnie wypełniony formularz';
                        $('#text').css('font-size', '20px');
                        $('#modalContentAlert').css('background', 'rgba(219,25, 21,0.5)')

                    }
                }
            });
        </script>
    {% endblock %}

    <div style="width: 100%; height: 520px; padding-left: 20%">
        <div style="width: 20%; float: left; margin-top: 10%; margin-right: 10%">
            <h1 style="text-align: left; color: white">Kontakt</h1>
            <div style="text-align: left; font-size: 15px; color: white">Ulica: Brama Krakowska</div>
            <div style="text-align: left; font-size: 15px; color: white">Poczta: 25-635 Lublin</div>
            <div style="text-align: left; font-size: 15px; color: white">Telefon: 435 243 534</div>
            <div style="text-align: left; font-size: 15px; color: white">Email: cukiernia@gmail.com</div>

        </div>
        <div style="float: left; width: 60%">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2497.451995924051!2d22.564323015760444!3d51.247586679593276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722576a1673b3b3%3A0xbe81b7be36b465c0!2sBrama%20Krakowska!5e0!3m2!1spl!2spl!4v1604527318498!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>


    <div >
        <div class="container" style="margin-right: auto; margin-left: auto; background: lightyellow; width: 30%; padding-left: 3%; padding-right: 3%; padding-bottom: 2%; padding-top: 2%; border-radius: 15px; box-shadow: 3px 3px 11px rgba(0,0,0,0.9);" >
            <b><p style="text-align: center; font-weight: bold; font-size: 20px; font-family: Arial">Skontaktuj się z nami</p></b>
            <div style="margin-top: 50px; margin-bottom: 30px">
                <label style="text-align: left" class="label">Email</label>
                <br>
                <input type="email" id="email" class="pola" width="100%" >
            </div>
            <div style=" margin-bottom: 30px">
                <label class="label">Tytuł</label>
                <br>
                <input id="tytul" type="text" class="pola"/>
            </div>
            <div style=" margin-bottom: 30px">
                <label class="label">Wiadomość</label>
                <br>
                <textarea id="wiadomosc"  rows="4" cols="50" class="pola"></textarea>
            </div>
            <div style="text-align: center">
                <button id="wyslij" onclick="buttonClicked()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Wyślij</button>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" {#aria-labelledby="exampleModalLabel" aria-hidden="true"#}>
        <div class="modal-dialog" role="document" style="width: 50%; margin-right: auto; margin-left: auto">
            <div class="modal-content" id="modalContentAlert" style="backdrop-filter: blur(5px)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Wysyłanie wiadomości...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="loader" class="loader"></div>
                    <div id="text"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    {#{{ dump(kontakt) }}#}

{% endblock %}
