<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <style>
                .form-signin
                {
                    width: 100%;
                    max-width: 330px;
                    padding: 15px;
                    margin: auto;
                    margin-top: 50px;
                    position: relative;
                    background: rgb(63,251,246);
                    background: #e5f4e4;
                }
                .register a
                {
                    text-decoration: none;

                }
                .register
                {

                    text-align: center;
                    font-size: 13px;
                    font-weight: bold;

                }
                /*html*/
                {
                    background: rgb(63,251,246);
                    background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(141,12,215,1) 100%);
                }
                body
                {
                    background: rgb(63,251,246);
                    background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(141,12,215,1) 100%);
                }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
