{% extends "menu/customer.html.twig" %}
{% block head %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
{% endblock %}
{% block body %}
    {{ parent() }}
<div class="ml-auto; mr-auto">
    <h2 style="text-align: center">Kontakt</h2>
    <div style="text-align: center">Kalinówka Cyprysowa 1</div>
    <div style="text-align: center; margin-bottom: 4%">25-635 Świdnik</div>
    <iframe class="mr-auto; ml-auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2499.434453442517!2d22.636506215759063!3d51.21107187958763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722567e0980f5c3%3A0xf54400ea809fba0f!2sCyprysowa%201%2C%2021-040%20Kalin%C3%B3wka!5e0!3m2!1spl!2spl!4v1601387112935!5m2!1spl!2spl" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
{% endblock %}