{% extends "menu/customer.html.twig" %}
{% block head %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

        .container {
            position: relative;
            text-align: center;
            color: white;
            width: 100%;
            display: inline;

        }
        .obrazek:hover
        {
            transform: scale(1.1);
            cursor: pointer;
        }
        .obrazek
        {
            transition: 0.5s ease;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffcd53;
            font-weight: bold;
            text-shadow: 1px 1px #464644
        }
        .kontener
        {
            margin-right: auto;
            margin-left: auto;
            padding-right: 17%;
            padding-left: 17%;

        }
        .przycisk
        {
            border: 1px solid darkgoldenrod;
            background: #ffcd53 ;
            border-radius: 10px;
            padding: 1%;
            transition: 0.5s ease;
            text-decoration: none;
            color: #333333;
        }
        .przycisk:hover
        {
            background: goldenrod;
            transform: scale(1.1);
            color: #333333;
            text-decoration: none;
        }
    </style>
    {% endblock %}




{% endblock %}
{% block body %}
    {{ parent() }}
<div class="container">
    <div>
        <h1 style="text-align: center; color: goldenrod; text-shadow: 1px 1px #464644">Cukiernia Chatka Puchatka</h1>
    </div>
    <div >
        <img  src="/build/chatka1.jpg" alt="Chatka Puchatka"  width="300px" height="auto" style="border-radius: 25px">
    </div>
</div>
    <div class="container">
    <div class="kontener" style="margin-top: 2%">
        {% for ofert in oferta%}
            {%if  loop.index < 5%}
                {% if ofert.urlObrazka!=null %}
                 <div class="container">
                    <img class="obrazek" src="/build/{{ ofert.urlObrazka }}" alt="Snow" style="width:160px; height: 160px; border-radius: 50%;">
                    <div class="centered">{{ ofert.nazwaOferty }}</div>
                </div>
                {% endif%}
            {% endif %}
        {% endfor %}
    </div>
    </div>
    {% if user=="anon." %}
            <div class="container">
                <div  style="margin-right: auto; margin-left: auto; padding-top: 1%; border-radius: 30%; color: goldenrod"><a href="{{ path('oferta') }}" class="przycisk">Zobacz więcej ofert</a></div>
            </div>
    {% else%}
        {% for role in user.roles %}
            {% if role=="ROLE_USER"%}
                <div class="container">
                    <div  style="margin-right: auto; margin-left: auto; padding-top: 1%; border-radius: 30%; color: goldenrod"><a href="{{ path('oferta') }}" class="przycisk">Zobacz więcej ofert</a></div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}



{% endblock %}

