
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            li:hover
            {
                font-weight: bold;
                color: black;
            }
            body
            {

                background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(141,12,215,1) 100%);

            }
        </style>
    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(e){

                console.log(window.location.href);

                if(window.location.pathname.split( '/' )[1] == "contact")
                {
                    document.getElementById('http://127.0.0.1:8000/contact').style.color +='black';
                    document.getElementById('http://127.0.0.1:8000/contact').style.fontWeight+="bold";
                }
                else
                {

                    if(window.location.pathname.split( '/' )[1] == "")
                    {
                        document.getElementById('http://127.0.0.1:8000/strona_glowna').style.color +='black';
                        document.getElementById('http://127.0.0.1:8000/strona_glowna').style.fontWeight+="bold";
                    }
                    else
                    {
                        if(window.location.pathname.split( '/' )[1] == "oferta")
                        {
                            document.getElementById('http://127.0.0.1:8000/oferta').style.color +='black';
                            document.getElementById('http://127.0.0.1:8000/oferta').style.fontWeight+="bold";
                        }
                        else
                        {
                            if(window.location.pathname.split( '/' )[1] == "login")
                            {
                                document.getElementById('http://127.0.0.1:8000/login').style.color +='black';
                                document.getElementById('http://127.0.0.1:8000/login').style.fontWeight+="bold";
                            }
                            else
                            {
                                if(window.location.pathname.split( '/' )[1] == "register")
                                {
                                    document.getElementById('http://127.0.0.1:8000/register').style.color +='black';
                                    document.getElementById('http://127.0.0.1:8000/register').style.fontWeight+="bold";
                                }
                                else
                                {
                                    if(window.location.pathname.split( '/' )[1] == "moje_zamowienia")
                                    {
                                        document.getElementById('http://127.0.0.1:8000/moje_zamowienia').style.color +='black';
                                        document.getElementById('http://127.0.0.1:8000/moje_zamowienia').style.fontWeight+="bold";
                                    }
                                    else
                                    {
                                        if(window.location.pathname.split( '/' )[1] == "moj_plan")
                                        {
                                            document.getElementById('http://127.0.0.1:8000/moj_plan').style.color +='black';
                                            document.getElementById('http://127.0.0.1:8000/moj_plan').style.fontWeight+="bold";
                                        }
                                        else
                                        {
                                            if(window.location.pathname.split( '/' )[1] == "doRealizacji")
                                            {
                                                document.getElementById('http://127.0.0.1:8000/doRealizacji').style.color +='black';
                                                document.getElementById('http://127.0.0.1:8000/doRealizacji').style.fontWeight+="bold";
                                            }
                                            else
                                            {
                                                if(window.location.pathname.split( '/' )[1] == "zrealizowane_zamowienia")
                                                {
                                                    document.getElementById('http://127.0.0.1:8000/zrealizowane_zamowienia').style.color +='black';
                                                    document.getElementById('http://127.0.0.1:8000/zrealizowane_zamowienia').style.fontWeight+="bold";
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }



            })
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
{#
    {% if user=="anon." %}
#}
        <nav class="navbar navbar-expand-lg navbar-light {#bg-light#}" style=" width: 100%; margin-bottom: 80px; z-index: 3; background: rgba(255, 255, 255, 0.3)">
            <a class="navbar-brand" href="#">Cukiernia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown" >
                <ul class="navbar-nav" >
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('strona_glowna') }}" id="http://127.0.0.1:8000/strona_glowna">Strona główna <span class="sr-only">(current)</span></a>
                    </li>
                    {% if user=="anon." %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('oferta') }}" id="http://127.0.0.1:8000/oferta">Oferta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact') }}" id="http://127.0.0.1:8000/contact">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('app_login') }}" id="http://127.0.0.1:8000/login">Zaloguj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('user_registration') }}" id="http://127.0.0.1:8000/register">Zarejestruj</a>
                        </li>

                        {% else %}
                            {% for role in user.roles %}
                                {% if role=="ROLE_USER"%}

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url('oferta') }}" id="http://127.0.0.1:8000/oferta">Oferta</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('moje_zamowienia') }}" id="http://127.0.0.1:8000/moje_zamowienia">Moje zamowienia</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('contact') }}" id="http://127.0.0.1:8000/contact">Kontakt</a>
                                    </li>

                                {% elseif role=="ROLE_WORKER"  %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('moj_plan') }}" id="http://127.0.0.1:8000/moj_plan">Mój plan</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('do_realizacji') }}" id="http://127.0.0.1:8000/doRealizacji">Zamowienia do realizacji</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('zrealizowane_zamowienia') }}" id="http://127.0.0.1:8000/zrealizowane_zamowienia">Zrealizowane zamówienia</a>
                                    </li>
                                {% elseif role=="ROLE_ADMIN"%}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('admin') }}">Administracja</a>
                                    </li>
                                {% endif%}
                        {% endfor %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.email }}
                            </a>
                            <div class="dropdown-menu" style="background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(141,12,215,1) 100%);" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" style="background: radial-gradient(circle, rgba(63,251,246,1) 0%, rgba(141,12,215,1) 100%);" href="{{ path('app_logout') }}">Wyloguj</a>
                            </div>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
{% endblock %}

</body>
</html>
